/RecycleWasteDatasetCropped/glass/*
/RecycleWasteDatasetCropped/metal/*
/RecycleWasteDatasetCropped/paper/*
/RecycleWasteDatasetCropped/plastic/*
/RecycleWasteDatasetYolo/data/train/*

!/RecycleWasteDatasetCropped/glass/.gitkeep
!/RecycleWasteDatasetCropped/metal/.gitkeep
!/RecycleWasteDatasetCropped/paper/.gitkeep
!/RecycleWasteDatasetCropped/plastic/.gitkeep
!/RecycleWasteDatasetYolo/data/train/.gitkeep